.incoming-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 8px 8px 0;
  background: radial-gradient(closest-side at center, white 10%, #93c5fd 90%);
}
